


.top3_Img{
    margin-top: 20px;
    width:98.9%;
    height: 500px;
    

}
@media screen and (max-width:580px){
    
.top3_Img{
 margin-top: 15px;
    width:98.8%;
    height: 200px;
    

}
}

@media screen and (min-width:581px) and (max-width:825px){
    .top3_Img{
      
        width:98.5%;
        height: 400px;
        
    
    }
    
}