


.top3_Img{
    border: 5px solid black;
    width:99.5%;
    height: 400px;
    

}
@media screen and (max-width:580px){
    
.top3_Img{
    border: 5px solid black;
    width:98.1%;
    height: 400px;
    

}
}