


.top3_Img{
    border: 5px solid black;
    width:98.9%;
    height: 400px;
    

}
@media screen and (max-width:580px){
    
.top3_Img{
    border: 5px solid black;
    width:98.1%;
    height: 400px;
    

}
}

@media screen and (min-width:581px) and (max-width:825px){
    .top3_Img{
        border: 5px solid black;
        width:98.5%;
        height: 400px;
        
    
    }
}