

.mobile_SubParent{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.mobileChild{
    box-shadow: 3px 5px 5px black;
    margin: 10px 15px;
    width: 200px;
    height: 300px;
  

}
.mobileChild:hover{
  
    position: relative;
    bottom:5px;
}
.mobile_Img{
    width: 200px;
    height: 230px;
}

.mobile_Left{
    border: 2px solid red;
    width: 300px;
    display: flex;
    justify-content: center;
   
}
.mobile_Right{ 
    border: 2px solid green;
    width: 75%;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  
}
/* Add this to your existing CSS file */
.loadMoreBtn {
    margin: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .loadMoreBtn:hover {
    background-color: #2980b9;
  }
  .loadMore_Parent{
        display: flex;
        justify-content: center;
  }
  .loadMore{
    font-weight: 900;
    color: rgb(72, 52, 52);
    background-color: rgb(188, 98, 98);
    border: none;
   
    width: 10%;
    height: 40px;
    margin: 3% 0px;

 }
 .small_Nav{
    border-bottom: 4px solid black;
        height: 40px;
      
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(188, 184, 184);
        color: dimgray;
    }
    a{
        color: black;
    }
    
    .furniture_Left_Child{
     
        position: relative;
        background-color: antiquewhite;
        top: 110px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 30%;
    }
@media screen and (max-width:580px){
    .mobile_Left{
       display: none;
    }
}
