


.watch_SubParent{
   
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.watchChild{
    box-shadow: 3px 5px 5px black;
    margin: 10px 15px;
    width: 230px;
    height: 300px;
  
}
.watchChild:hover{
   
    position: relative;
    bottom:5px;
}
.watch_Img{
    width: 200px;
    height: 230px;
}

.watch_Left{
  
    width: 300px;
    display: flex;
    justify-content: center;
}
.watch_Right{
 
    width: 75%;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  
}
@media screen and (max-width:580px){
    .watch_Left{
        display: none;
     }
    
}