

/* css for Furniture Component Web view*/

.furniture_SubParent{
    border: 5px solid black;
    display: flex;
   
    /* flex-wrap: wrap; */
    justify-content: space-around;
    text-align: center;
}
.furnitureChild{
    border: 2px solid orange;
    margin: 10px 15px;
    width: 230px;
  
}
.furnitureChild:hover{
    box-shadow: 3px 5px 5px black;
    position: relative;
    bottom:5px;
}
.furniture_Img{
    width: 200px;
    height: 230px;
}

.furniture_Left{
    border: 4px solid black;
    width: 300px;
    
}
.furniture_Right{
    border: 4px solid red;
    width: 65%;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  
}