

/* css for Furniture Component Web view*/

.furniture_SubParent{
  
    display: flex;
   
   
    justify-content: space-around;
    text-align: center;
}
.furnitureChild{
    box-shadow: 3px 5px 5px black;
    margin: 10px 15px;
    width: 200px;
    height: 300px;
  
}
.furnitureChild:hover{
   
    position: relative;
    bottom:5px;
}
.furniture_Img{
    width: 200px;
    height: 230px;
}

.furniture_Left{
   
    width: 300px;
    display: flex;
    justify-content: center;
}
.furniture_Right{
  
    width: 75%;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  
}
.small_Nav{
    border-bottom: 4px solid black;
        height: 40px;
      
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(188, 184, 184);
        color: dimgray;
    }
    a{
        color: black;
    }
    
    .furniture_Left_Child{
      
        position: relative;
        background-color: antiquewhite;
        top: 110px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 30%;
    }
@media screen and (max-width:580px){
    .furniture_Left{
        display: none;
     }
}